*{margin:0;padding:0;
  box-sizing:border-box;}

body{font-family:'Montserrat';
  background:#f5f5fb;color:#000;}
   
a:link{color:#474e5d; text-decoration:none;cursor: pointer;}
a:navbar{color:white;text-decoration:none;cursor: pointer;}
a:button{color:#474e5d; text-decoration:none;cursor:pointer; border:none;}

fieldset{padding:0.35em 0.75em 0.625em;}
legend{box-sizing:border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */}

.wrap{tpadding:0 8px;width:100%;column-count:2;column-gap:0.3em;margin-bottom:68px;flex-wrap:wrap;}
.wrap-margin{margin-top:48px; margin-bottom:68px;} 
 

.grid{display:grid;grid-template-columns:repeat(2,1fr);grid-auto-rows: minmax(100px, auto);column-gap:0.5rem;}



.flex{display:flex;
  tflex-direction:column;
  flex-direction:row;
  align-items: center;
  justify-content: center;}

  
  

.card{width:100%;background:#fff;box-shadow:0 0 20px 3px rgba(0,0, 0,.1);margin-bottom:10px;border-radius:10px;font-size:14px;padding:10px;}

.card li{text-transform: capitalize;list-style: none;text-decoration: none;vertical-align:baseline;}

.card htitle{color:#454D5A;font-size:20px;font-weight:bold;justify-content:space-around;align-items: center;}  

.card htitle p{color:#454D5A;font-size:14px;}  

.card htitle r{color:#4CAF50;font-size:20px;border-radius:5px;} 
 

.nav{background:#f5f5fb;height:72px;
width:100%; display:flex;justify-content:space-around;align-items: center;position:fixed;bottom:0;
box-shadow:0 -4px 25px 0 rgba(0,0, 0, .12);z-index:2;}
 
.nav a{-webkit-tap-highlight-color: rgba(0,0,0,0);} 
.nav .icon{flex:1;text-align:center;color:#454D5A;} 
.nav .icon i{padding:5px;font-size:24px;box-shadow:0 -4px 25px 0 rgba(0,0,0, .12);border-radius:50%;background:#ECEFF1;}
.nav .icon p {font-size:12px;}
 
.active i{color:#454D5A;font-size:38px;font-weight:bold;}

.active img{height:40px;
  width:60%;}
  
.icon:hover{color:#000 !important; border-radius:10%;}
  
::-webkit-scrollbar{display:none;}

.space{height:200px;}

 .bgc{background:linear-gradient(#ffffff, #ffffff,#ECEFF1, #ECEFF1);}
 


input{font-size:20px;color:#4CAF50; border:none;background:none;margin:0; font-weight:900;width:auto;} 



.hero-section{border:2px solid #3A0OFF;color:#000;font-size:30px;padding:20px; text-align: center;background:#ECEFF1;}
   
.sticky{width:100%;height:100%;padding:0;margin:0;text-align:center;position:sticky;top:0;}
  
.sticky-scroll{overflow-x: scroll;
  scroll-snap-type: x mandatory;padding:5px; width:100%;text-align:center;font-size:18px;height:100%;left:0; right:0; background:#fff; }
   
.sticky-scroll{overflow-x:auto;
  white-space:nowrap;}
  
.sticky-scroll a{border-radius:10px;
tmargin-bottom:5px;display:inline-block;color:black;text-align:center;
padding:5px;text-decoration: none;scroll-snap-align: end;}


.sticky-scroll a hijau{color:#4CAF50;
font-size:18px;font-weight:bold;}
.sticky-scroll a:hover {
  background-color:#ECEFF1;}


/*-- PAGES --*/
.title-shop{
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color:#161616;
    margin-left: .25rem;
}






 
Desktop
@media screen and
(min-width: 1024px)
{body {font-family:'Montserrat';
  background:#ECEFF1;color:#000;} 

.wrap{padding:0 8px;column-count:3;
column-gap:0.3em;padding-top:10px;
width:100%;}  }


@media screen and
(min-width: 768px) and
(max-width: 1023px)
{body {font-family:'Montserrat';
background:#f5f5fb;color:#000;} 

.wrap{padding:0 8px;column-count:3;
column-gap:0.3em;padding-top:10px;
width:100%;}


.grid{display:grid;margin:0.5rem;
grid-template-columns:repeat(3,1fr);
grid-template-row:auto;
grid-auto-rows: minmax(100px, auto)
column-gap:0.5rem;row-gap:0.5rem;padding-top:50px;}
 
.flex{display:flex;
  flex-direction:column;
  flex-direction:row;
  flex-wrap:no-wrap;
  align-items:stretch;
  align-self:flex-start;
  justify-content:center;
  gap:0.3em;}
 
 .tflex{display: flex;
flex-direction:column;
flex-wrap:wrap;
justify-content: flex-start;
align-items:flex-start;
talign-content:flex-start;
}

  
  
  
.nav{background:#f5f5fb;height:72px;
width:50%;display:flex;justify-content:center;align-items: center;position:fixed; bottom:20px;
box-shadow:0 -4px 25px 0 rgba(0,0, 0, .12); margin:0; left:25%; right:25%;border-radius:15px;z-index:2;} 

.card{width:100%; height:100%;
background:#fff;box-shadow:0 0 100px 3px rgba(0,0,0, .1);margin-bottom:10px;border-radius:10px;font-size:14px;} 
.card right{color:#454D5A;margin-left:10px;font-weight:bold;float:right;} }




@media screen and
(max-width: 767px)
{body {font-family: 'Montserrat';
background:#f5f5fb;color:#000;}
   
.wrap{tpadding:0 8px;column-count:1;
column-gap:0.0em;padding-top:10px;
width:100%;}

.grid{display:grid;tmargin:0.5rem;
grid-template-columns: repeat(1, 1fr);tcolumn-gap:1rem;padding-top:50px;}

.flex{tdisplay:flex;
  flex-direction:column;
  tflex-direction:row;
  flex-wrap:no-wrap;
  align-items:stretch;
  align-self:flex-start;
  justify-content:flex-start;
  gap:0.3em;}
  
  
.pcol{padding:1px;column-count:2;
column-gap:0.3em;padding-top:10px;
width:100%;} 

.card right{color:#454D5A;margin-left:10px;font-weight:bold;float:right;} }	