html, body {background-color: black;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	padding: 0;}

.container{color:#fff;margin:0 auto;
max-width:768px;tpadding:20px 5%;}
 
section {background-color:#171717;}
header{display:flex;}
header .logo{float:right;margin-top:20px;}

.ltext{color:#fff;tborder:2px solid #FFOOe0;font-size:36px;line-height:1;font-family: 'Merienda One', cursive;font-family:'Big Shoulders Stencil Text', cursive;}
.ltext ltc{color:aquamarine;}


h1, h2 {line-height:1;text-transform: uppercase;}

h2 {margin-top:40px;}
h2:first-of-type {margin-top:20px;}

.logo {display: block;}

img {height:auto;max-width:100%;}
.logo img{width:80px;}

.space{margin-top:60px;}




/* Header Styles */
navigasi{display:flex;justify-content:space-between;align-items: center;padding:10px 10px;background:#171717;color:#fff;border:2px solid #FFOOe0;padding:0; width:100%;margin:0;text-align:center;position:sticky;top:0;}

.logotext{display:flex;color:white;
font-size:24px;font-weight:bold;
align-items:center;padding:10px;}

.logotext c{color:#C8E6C9;font-size: 24px;font-weight:bold;}

.scrollmenu{overflow-x:auto;white-space:nowrap;}

.scrollmenu a {background-color:none;
display:inline-block;color:#fff;text-align:center;padding:14px; border-radius:10px;text-decoration:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}

.scrollmenu a:hover{background-color:none;border-radius:10px;}


@media all and (max-width: 768px) {.logo img {width:450px;} }

@media all and (max-width: 479px) {.logo img {width: 350px;} }

.icon.heart{color:lightcoral;}

a{color:aquamarine;font-weight:bold;-webkit-tap-highlight-color: rgba(0,0,0,0);}
a:hover, a:active {color: mediumaquamarine;}
a code {color:black;}
code{background-color:aquamarine;
color:black;font-family:monospace;
padding:1px;user-select:all;text-decoration:none;}

code.image, code.imagee, code.imageee {float:right;top:5px;border-radius:5px;box-shadow:rgba(0,0,0, 0.1) 0 10px 15px -3px, rgba(0,0,0, 0.05) 0px 4px 6px -2px; }
	

code.image{background:pink;}
code.imagee{background:#067eed;}
code.imageee{background:#c1e6fff;} code.imageeee{background-color:;}

 
ul{display:grid;tgrid-template-columns:repeat(auto-fit, minmax(200px, 1fr));grid-gap:0.5rem;
padding:0;} 
         
li{padding:5px;tbackground-color:#dee7ec;color:#000; border-radius:10px;text-decoration:none;display: inline-block;box-shadow: 0 1px 6px rgba(0,0,0,0.2);}  
      
ol{tdisplay: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap:0.5rem;
      padding-left:1.6rem;}        
         
      
      
      
      
 @media screen and
(min-width: 768px) and
(max-width: 1023px)
{body {font-family:'Montserrat';
background-color:black;color:white;} 

p{width:90%;margin:0;padding:20px;}	 
.grid{width:100%;margin:0; padding:1px;}
.grid ul{display:grid;grid-template-columns:1fr 1fr 1fr; grid-gap:0.5rem;
      padding:0.5rem;}
      
.gridm ul{display:grid;grid-template-columns:1fr 1fr 1fr 1fr; grid-gap:0.5rem;
      padding:0.5rem;}      
     
li.none{background:none;}

ol{padding:5px;margin:5px;}
ol li{width:100%;margin:5px;font-size:15px;padding:5px ;tbackground-color:#fff;color:#000; border-radius:10px;text-decoration:none;display:inline-block;box-shadow: 0 1px 6px rgba(0,0,0,0.2);}  


.wrap{padding:0 8px;tcolumn-count:3;
column-gap:0.3em;padding-top:10px;
width:100%;}


.tgrid{display:grid;margin:0.5rem;
grid-template-columns:repeat(3,1fr);
grid-template-row:auto;
grid-auto-rows: minmax(100px, auto)
column-gap:0.5rem;row-gap:0.5rem;padding-top:50px;}
 
   



.flexx{display:flex;
  tflex-direction:column;
  tflex-direction:row;
  flex-wrap:no-wrap;
  align-items:stretch;
  align-self:flex-start;
  justify-content:center;
  gap:0.3em;}
 
.flex{display:grid;margin:1rem;
grid-template-columns:repeat(3,1fr);
grid-template-row:1fr 1fr;
grid-auto-rows: minmax(100px, auto)
gap:0.3em;

column-gap:0.5rem;row-gap:0.5rem;
tpadding:5px;} 


 .tflex{display: flex;
flex-direction:column;
flex-wrap:wrap;
justify-content: flex-start;
align-items:flex-start;
talign-content:flex-start;
}
}     



@media screen and
(max-width: 767px)
{body {font-family: 'Montserrat';
color:#000;font-size:18px;}

.container{margin:0 auto;padding:5px 5%;}
	
.grid{width:100%;margin:0; padding:0;}	
	
.grid ul, .gridm ul{width:100%;display: flex;
flex-direction:row;
flex-wrap:wrap;
justify-content: flex-start;
align-items:flex-start;
align-content:flex-start;gap:5px;}
  
li{width:45%;font-size:15px;padding:5px;tbackground-color:#f4f5fc;color:#fff; border-radius:10px;text-decoration:none;display: inline-block;box-shadow: 0 1px 6px rgba(0,0,0,0.2);}  

li.none{background:none;}

ol{padding:5px;margin:5px;}
ol li{width:100%;margin:5px;font-size:15px;padding:5px ;background-color:#fff;color:#000; border-radius:10px;text-decoration:none;display:inline-block;box-shadow: 0 1px 6px rgba(0,0,0,0.2);}  

ol li a {background-color:pink;color:black;text-decoration:none;}


code {background-color: aquamarine;
	color: black;font-size:15px;
	font-family: monospace;
	padding: 1px;
	user-select: all;text-decoration:none;}
}
.titleBar {
    position: fixed;
    left: env(titlebar-area-x, 0);
    top: env(titlebar-area-y, 0);
    width: env(titlebar-area-width, 100%);
    height: env(titlebar-area-height, 40px);
    -webkit-app-region: drag;
    app-region: drag;
 }

.wrap{padding:8px;padding-top:10px;
background-color:#E0E8F8;}


.wrap li{width:98%;font-size:15px;tpadding:5px;background-color:#fff;color:#000; border-radius:10px;text-decoration:none;display: inline-block;box-shadow: 0 1px 6px rgba(0,0,0,0.2);}  

.wrap h2{color:#fff;}
