<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Man Sitee</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>

    <link href="drawable/h5.css" rel="stylesheet"/>
    <script src="drawable/vue.min.js"></script>
    
    <link href="http://seanzwx.github.io-master/seanzwx.github.io-master/app/tincat/common/h5.css" rel="stylesheet"/>
    
    <script src="http://seanzwx.github.io-master/seanzwx.github.io-master/app/tincat/common/vue.min.js"></script>
    
</head>

<body style="background-color: #dee7ec;">
<div id="app">
    <div class="h5-actionbar">
        <img @click="history.back()" src="drawable/icon_back.svg"/>
        <div>Manlink</div>  <a href="hot.html"style="font-weight: bold;padding-right: 16px;">Hot
        	</a><div style="font-weight: bold;padding-right: 16px;">dark</div>
    </div>   <div style="padding: 8px 16px 8px 16px;background-color: #f6f6f6;font-size: 14px;">You can save game as miniapp for a better experience.</div>

    <div style="padding-top: 50px;padding-bottom: 16px;padding:10px;">
        <div v-for="it in siteGroupArray">
  <div style="font-weight: bold;padding: 16px 10px 8px 16px;top: -5%;text-align: center;align-items: center;justify-content: center;letter-spacing: 1.2px;border-radius: 4px;width: 100%;position: relative;">
            <div style="font-weight: bold;padding: 4px 8px;text-transform:uppercase;">#{{it.title}}</div> </div>
         
            <div style="background-color: #ffffff;border-radius:20px;padding:8px;"> <div style="column-count: 2; column-gap:0.1em; padding: 0 1px;box-shadow:0 10px 99px 0 rgba(68,88,144,0.1);border-radius:20px;">
            		
            	<div @click="openSite(it1.url)" v-for="it1 in it.siteArray" style="width:100%;padding:8px;"> <div style="font-size:14px;background-color: #f6f6f6;text-align: left;padding: 8px 16px 8px 16px;color: #333333;border-radius:20px;tborder-left:2px solid #1abc9c;border:1px solid #dee7ec;
padding-left:1em;">{{it1.label}}</div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
</body>

<script> new Vue({el: "#app",
data: function(){ return {siteGroupArray: [{ title: "Video",
siteArray: [{label: "Instagram",
url: "https://www.instagram.com"}, 
{label: "Facebook",
url: "https://www.facebook.com"}, 
{label: "Twitter",
                        url: "https://www.twitter.com"
                    }, {
                        label: "Vimeo",
                        url: "https://www.vimeo.com"
                    }, {
                        label: "DailyMotion",
                        url: "https://www.dailymotion.com"
                    }, {
                        label: "MetaCafe",
                        url: "https://www.metacafe.com"
                    }, {
                        label: "Youtube",
                        url: "https://www.youtube.com"
                    }, {
                        label: "LiveLeak",
                        url: "https://www.liveleak.com"
                    }, {
                        label: "9GAG",
                        url: "https://9gag.com"
                    }, {
                        label: "Tiktok",
                        url: "https://www.tiktok.com/foryou"
                    }, {
                        label: "Likee",
                        url: "https://likee.video"
                    }, {
                        label: "Twitch",
                        url: "https://www.twitch.tv"
                    }, {
                        label: "Bigo",
                        url: "https://www.bigo.tv"
                    },{
                        label: "Periscope",
                        url: "https://www.periscope.tv"
                    }, {
                        label: "Lebih Lengkap dan terpercaya dengan website",
                        url: "test.html"
                    }]
                },
                
                
                
                
                { title: "downloader",
siteArray: [{label: "Yt1s",
url: "https://www.yt1s.com"}, 
{label: "Y2mate",
url: "https://www.y2mate.com"}, 
{label: "YTmp3",
                        url: "https://ytmp3.cc"
                    }, {
                        label: "Bitdownloader",
                        url: "https://bitdownloader.net"
                    }, {
                        label: "Durpy",
                        url: "https://durpy.com"
                    }, {
                        label: "Keepsaveit",
                        url: "https://keepsaveit.com/site"
                    }, {
                        label: "Ezdlvid.com",
                        url: "https://ezdlvid.com"
                    }, {
                        label: "Ddownr",
                        url: "https://ddownr.com"
                    }, {
                        label: "Catch.tube",
                        url: "https://Catch.tube/"
                    }, {
                        label: "Savevid",
                        url: "https://savevid.com"
                    }, {
                        label: "flash video",
                        url: "https://flashvideodownloader.org"
                    }, {
                        label: "savetube",
                        url: "https://savetube.com"
                    }, {
                        label: "kcoolonline",
                        url: "https://kcoolonline. com"
                    }]
                },
                
                
                
                
                
                { title: "News",
                    siteArray: [
                        { label: "BBC",
                            url: "https://www.bbc.com"
                        }, { label: "CNN",
                            url: "https://www.cnn.com"
                        }, {
                            label: "Google News",
                            url: "https://news.google.com"
                        }, {
                            label: "Dailymail",
                            url: "https://www.dailymail.co.uk"
                        }, {
                            label: "Detik.com",
                            url: "https://www.detik.com"
                        },        { label: "Kompas.com",
                            url: "https://www.kompas.com"
                        }, { label: "Republika",
                            url: "https://www.republika.co.id"
                        }, {
                            label: "Jawapos.com",
                            url: "https://www.jawapos.com"
                        }, {
                            label: "Antaranews.com",
                            url: "https://www.antaranews.com.uk"
                        }
                    ]
                }, {
                    title: "Music",
                    siteArray: [
                        {
                            label: "SoundCloud",
                            url: "https://m.soundcloud.com"
                        }, {
                            label: "Spotify",
                            url: "https://open.spotify.com"
                        }, {
                            label: "Ultimate Guitar",
                            url: "https://www.ultimate-guitar.com"
                        }
                    ]
                }, {
                    title: "Books",
                    siteArray: [
                        {
                            label: "Wattpad",
                            url: "https://www.wattpad.com"
                        }, {
                            label: "Goodreads",
                            url: "https://www.goodreads.com"
                        }, {
                            label: "Google Books",
                            url: "https://books.google.com"
                        }, {
                            label: "ManyBooks",
                            url: "https://manybooks.net"
                        }, {
                            label: "BookRix",
                            url: "https://www.bookrix.com"
                        }
                    ]
                }, {
                    title: "Shopping",
                    siteArray: [
                        {
                            label: "Amazon",
                            url: "https://www.amazon.com"
                        }, {
                            label: "Jumia",
                            url: "https://www.jumia.com.ng"
                        }, {
                            label: "Aliexpress",
                            url: "https://m.aliexpress.com"
                        }, {
                            label: "Lazada",
                            url: "https://www.lazada.co.id"
                        }, {
                            label: "Tokopedia",
                            url: "https://www.tokopedia.co.id"
                        }, {
                            label: "Bukalapak",
                            url: "https://bukalapak.com"
                        }, {
                            label: "Shopee",
                            url: "https://Shopee.co.id"
                        }, {
                            label: "Jd.id",
                            url: "https://www.jd.id"
                        }, {
                            label: "Sociolla",
                            url: "https://www.sociolla.com"
                        }, {
                            label: "Enterkomputer",
                            url: "https://www.enterkomputer.com"
                        }, {
                            label: "Elevenia",
                            url: "https://Elevenia.co.id"
                        }, {
                            label: "Tokoladang",
                            url: "https://Tokoladang.co.id"
                        }
                        
                    ]
                }, {
                    title: "Food",
                    siteArray: [
                        {
                            label: "Food Network",
                            url: "https://www.foodnetwork.com"
                        }, {
                            label: "Allrecipes",
                            url: "https://www.allrecipes.com"
                        }, {
                            label: "Delish",
                            url: "https://www.delish.com"
                        }, {
                            label: "Marmiton",
                            url: "https://www.marmiton.org"
                        }, {
                            label: "BBC Good Food",
                            url: "https://www.bbcgoodfood.com"
                        }, {
                            label: "Cookpad",
                            url: "https://cookpad.com"
                        }
                    ]
                }, {
                    title: "Fashion",
                    siteArray: [
                        {
                            label: "Cosmopolitan",
                            url: "https://www.cosmopolitan.com"
                        }, {
                            label: "Pull&Bear",
                            url: "https://www.pullandbear.com"
                        }, {
                            label: "Elle",
                            url: "https://www.elle.com"
                        }, {
                            label: "Vogue",
                            url: "http://www.vogue.com"
                        }, {
                            label: "Gucci",
                            url: "https://www.gucci.com"
                        }, {
                            label: "Dior",
                            url: "https://www.dior.com"
                        }, {
                            label: "Hermes",
                            url: "https://www.hermes.com"
                        }, {
                            label: "Louis Vuitton",
                            url: "https://www.louisvuitton.com"
                        }, {
                            label: "Marie Claire",
                            url: "https://www.marieclaire.com"
                        }
                    ]
                }, {
                    title: "Sports",
                    siteArray: [
                        {
                            label: "LiveScore",
                            url: "https://www.livescore.com"
                        }, {
                            label: "ESPN",
                            url: "https://www.espn.com"
                        }, {
                            label: "Goal",
                            url: "https://www.goal.com"
                        }, {
                            label: "Cricbuzz",
                            url: "https://www.cricbuzz.com"
                        }
                    ]
                },
                
                
                            
                            ]
            };
        },

        methods: {
            openSite: function(url)
            {
                window.open(url);
            }
        }
    });
</script>
</html>